/* Main CSS file */

/** GENERAL **/
html {
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0;
	padding: 2px;
	height: 1020px; /* Conform to the iPad's size */
	width: 764px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
}

.ui-loader {
	display: none; /* Remove the jquery mobile loading message */
}

/** PAGES **/
.page {
	margin: 0;
	padding: 50px;
	font-size: 11pt;
	overflow: hidden;
	background: white;
	display: none;
}

.active {
	display: block;
}

.page h2 {
	color: #DE00C4;
	margin-bottom: -10px;
}

.footer {
	clear: both;
	position: relative;
	overflow: hidden;
}

.articleTitle {
	float: left;
	color: red;
	font-family: serif;
	font-size: 80px;
}

.pageNum {
	font-size: 14pt;
	color: rgb(170,170,170);
	white-space: nowrap;
	position: absolute;
	right: 30px;
	bottom: 25px;
}

.columnLeft {
	width: 300px;
	float: left;
}

.columnRight {
	width: 300px;
	float: right;
}

/** MENU **/
.menubar {
	/*display: none;*/
	
	margin: 0px;
	height: 1020px; /* Conform to the iPad's size */
	width: 200px;
	overflow: hidden;
	position: absolute;
	background-color: #D3D3D3;
}
 
 
/** Menu Bar Contents **/
.menubarContents { 	
 	width: 100%;
 	height: 50px;
 	float: left;
 	top: 200px;
 	position: absolute; 
}

.menubarContents h1 {
 	color: #FFFFFF;
 	font-weight: bold;
 	font-size: 18px;
 	text-align: center;
 }

.mamasays {		
	padding: 2px;
	background-color: #FFD700;
}

.biss {
	padding: 2px;
	background-color: #ADD8E6;
}

.expressions {
	padding: 2px;
	background-color: #DC143C;
}

.bitsAndPieces {
	padding: 2px;
	background-color: #CC00CC;
}

.fashion {
	padding: 2px;
	background-color: #0099FF;
}

.perspective {
	padding: 2px;
	background-color: #40E0D0;
}

/** Scroll Menu Wrapper**/
.vertical {
	position: relative; 
	overflow: hidden;
		
	height: 1020px;		/* Conform to the iPad's size */
	width: 180px;		/* Make bigger than a photo, because we need a place for a scrollbar. */		
	left: 200px;		/* To make space for the MenuBar */
	
}

/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	margin: 0px;
}
/* Single scrollable items */


.item{
	height:165px;
}
.item img {
	display: block;
	border: none;
	width: 100%;
	height: 140px;

  /* When image support is turned off */
  color: #fff;
  background: rgb(79, 79, 79);  
}

.item div{
	color: #FFFFFF;
 	font-weight: bold;
 	font-size: 14px;
 	text-align: center;
	width: 100%;
	height: 40px;
}







 

