/* Menu CSS file */

/** MENU AND TOC **/
#menubar {
	z-index: 1000;
	height: 44px;
	width: 100%;
	color: white;
	font-size: 14px;
	position: absolute;
	top: 0;
	display: none;
}

#toc {
	z-index: 900;
	height: 976px;
	width: 435px;
	position: absolute;
	top: 0px;
	display: none;
	padding: 0;
	overflow: hidden;
	text-shadow: none;	
}


#toc-nav div {
	padding: 1px 18px;
	width: 210px;
	color: white;
	text-align: center;	
}

#toc-nav a {
	text-decoration: none;
}



/** Scroll Menu Wrapper**/
.vertical {
	position: absolute;
	top: 0;
	overflow: hidden;		
	height: 1020px;		/* Conform to the iPad's size */
	width: 180px;				
	margin-left: 250px;		/* To make space for the MenuBar */
}

/** Menu Bar Contents **/
.mamasays {		
	padding: 2px;
	background-color: #FFD700;
}

.biss {
	padding: 2px;
	background-color: #ADD8E6;
}

.expressions {
	padding: 2px;
	background-color: #DC143C;
}

.bitsAndPieces {
	padding: 2px;
	background-color: #CC00CC;
}

.fashion {
	padding: 2px;
	background-color: #0099FF;
}

.perspective {
	padding: 2px;
	background-color: #40E0D0;
}

.toc-bookmark {
	padding: 2px;
	background-color: rgb(100,100,100);
}


#mamasays-nav {
	background: #FFD700;	
}

#because-nav {
	background: #ADD8E6;
}

#expressions-nav {
	background: #DC143C;
}

#bits-nav {
	background: #C0C;
}

#fashion-nav {
	background: #09F;
}

#perspective-nav {
	background: #40E0D0;
}

#bookmarks-nav {
	background: rgb(100,100,100);
}

#share-nav {
	background: #AAAAAA;
}
/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:2000em;	
	margin: 0px;
}

/* Single scrollable items */
.item {
	height: 200px;
}

.item img {
	display: block;
	border: none;
	height: 140px;
	width: 180px;
	/* When image support is turned off */
	color: #fff;
	background: rgb(79, 79, 79);  
}

.item div {
 	font-weight: bold;
 	font-size: 10px;
 	padding: 5px 0;
 	text-align: center;	
	height: 20px;
}

.pageLength {
	height: 40px;
	width: 50%;
	text-align: left;
	float: left;
	padding: 0px;
}

.index {	
	height: 40px;
	width: 50%;
	text-align: right;
	font-size: 20px;
	float: left;
	padding: 0px;
}




/*
.item p {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
}
*/







 

