/* Main CSS file */

/** GENERAL **/
html {
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0;
	padding: 0;
	height: 1020px;
	width: 764px;
	overflow: hidden;
	position: relative;
}

.ui-loader {
	display: none; /* Remove the jquery mobile loading message */
}

/** PAGES **/
.page {
	margin: 0;
	font-size: 11pt;
	overflow: hidden;
	background: white;
	display: none;
	position: relative;
}

.active {
	display: block;
}

.page h2 {
	color: #DE00C4;
	margin-bottom: -10px;
}

.footer {
	clear: both;
	position: relative;
	overflow: hidden;
}

.articleTitle {
	float: left;
	color: red;
	font-family: serif;
	font-size: 80px;
}

.pageNum {
	font-size: 14pt;
	color: rgb(170,170,170);
	white-space: nowrap;
	position: absolute;
	right: 30px;
	bottom: 25px;
}

.bookmark {
	z-index: 900;
	height: 60px;
	width: 60px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.dogeared {
	z-index: 1000;
	position: absolute;
	top: 0px;
	right: 0px;
	border-color: white white rgb(200,200,200) rgb(200,200,200);
	border-style: solid;
	border-width: 30px;
	height: 0;
	width: 0;
}

.columnLeft {
	width: 300px;
	float: left;
}

.columnRight {
	width: 300px;
	float: right;
}

/** MAGAZINE PAGES **/
#page0 {
	z-index: 70;
	background-image: url("photos/cover.PNG");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page1 {
	z-index: 80;
	background-image: url("photos/p1.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page2 {
	z-index: 90;
	background-image: url("photos/p2.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page3 {
	z-index: 100;
	background-image: url("photos/p3.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page4 {
	z-index: 110;
	background-image: url("photos/p4.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page5 {
	z-index: 120;
	background-image: url("photos/p5.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page6 {
	z-index: 130;
	background-image: url("photos/p6.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page7 {
	z-index: 140;
	background-image: url("photos/p7.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page8 {
	z-index: 150;
	background-image: url("photos/p8.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page9 {
	z-index: 160;
	background-image: url("photos/p9.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page10 {
	z-index: 170;
	background-image: url("photos/p10.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}
#page11 {
	z-index: 180;
	background-image: url("photos/p11.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page12 {
	z-index: 190;
	background-image: url("photos/p12.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page13 {
	z-index: 200;
	background-image: url("photos/p13.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page14 {
	z-index: 210;
	background-image: url("photos/p14.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page15 {
	z-index: 220;
	background-image: url("photos/p15.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}
#page16 {
	z-index: 230;
	background-image: url("photos/p16.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page17 {
	z-index: 240;
	background-image: url("photos/p17.jpeg");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

#page18 {
	z-index: 250;
	background-image: url("photos/rear_cover.png");
	height: 1020px;
	width: 764px;
	background-repeat: no-repeat;
}

/** MENU **/
#menubar {
	z-index: 1000;
	height: 44px;
	width: 100%;
	color: white;
	position: absolute;
	top: 0;
	display: none;
}

#toc {
	z-index: 900;
	height: 976px;
	width: 600px;
	position: absolute;
	top: 44px;
	display: none;
}